In [1]:
## Import dependencies
import sqlalchemy
from sqlalchemy import create_engine
import sys
sys.path.append('../')
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

In [2]:
## load data from csv file to pandas dataframe
MMSI_2016 = pd.read_csv("data/Movilidad_Social_datos.csv")
MMSI_2016.head()

C:\Users\Jorge\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (27,28,30,31,32,33,34,35,49,50,51,52,53,54,55,56,57,58,59,184,185,211,236) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Folioviv,Foliohog,Id_pobla,ubica_geo_ENH,ent_ENH,tam_loc_ENH,est_socio_ENH,est_dis_ENH,upm_ENH,P1_1,...,cisterna_ENH,pileta_ENH,calent_sol_ENH,calent_gas_ENH,medidor_luz_ENH,bomba_agua_ENH,tanque_gas_ENH,aire_acond_ENH,calefacc_ENH,chimenea_ENH
0,100018005,1,1,10010001,1,1,3,5,1,1,...,1,2,1,1,1,1,1,2,2,2
1,100018006,1,3,10010001,1,1,3,5,1,1,...,1,2,1,1,1,1,1,2,2,2
2,100018036,1,3,10010001,1,1,3,5,1,1,...,1,2,1,1,1,1,1,2,2,2
3,100018068,1,1,10010001,1,1,3,5,1,1,...,1,2,2,1,1,1,1,2,2,2
4,100018092,1,3,10010001,1,1,3,5,1,2,...,1,2,2,1,1,1,2,2,2,2

In [3]:
## Filtering the columns we need from the main dataset
MMSI_2016_summ = MMSI_2016.loc[:,["ent_ENH","est_socio_ENH","P1_1","P1_2","P2_1EST_D","P10_1","P10_2","P10_3","P12_1","P12_2","Factor_Per",]]
MMSI_2016_summ.head()

,ent_ENH,est_socio_ENH,P1_1,P1_2,P2_1EST_D,P10_1,P10_2,P10_3,P12_1,P12_2,Factor_Per
0,1,3,1,58,1,2,8,3,6,4,1718
1,1,3,1,49,7,2,8,4,5,5,859
2,1,3,1,31,1,2,8,4,7,7,429
3,1,3,1,56,1,2,8,3,5,3,859
4,1,3,2,52,1,2,7,3,5,4,329

In [4]:
## Counting the number of rows on each column
MMSI_2016_summ.count()

ent_ENH          25634
est_socio_ENH    25634
P1_1             25634
P1_2             25634
P2_1EST_D        25634
P10_1            25634
P10_2            25634
P10_3            25634
P12_1            25634
P12_2            25634
Factor_Per       25634
dtype: int64

In [5]:
## Renaming the columns
MMSI_2016_summ=MMSI_2016_summ.rename(columns={"ent_ENH":"Estado","est_socio_ENH":"Estrato_SocioeconÃ³mico",
                               "P1_1":"Sexo","P1_2":"Edad",
                               "P2_1EST_D":"Edo_14_aÃ±os",
                              "P10_1":"Lengua_IndÃ­gena","P10_2":"Color_Piel","P10_3":"Origen_Racial",
                               "P12_1":"OpiniÃ³n_SituaciÃ³n_EconÃ³mica","P12_2":"Perspectiva_SE_14_aÃ±os",
                               "Factor_Per":"Factor_ExpansiÃ³n"})
MMSI_2016_summ.head()

,Estado,Estrato_SocioeconÃ³mico,Sexo,Edad,Edo_14_aÃ±os,Lengua_IndÃ­gena,Color_Piel,Origen_Racial,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Perspectiva_SE_14_aÃ±os,Factor_ExpansiÃ³n
0,1,3,1,58,1,2,8,3,6,4,1718
1,1,3,1,49,7,2,8,4,5,5,859
2,1,3,1,31,1,2,8,4,7,7,429
3,1,3,1,56,1,2,8,3,5,3,859
4,1,3,2,52,1,2,7,3,5,4,329

In [6]:
## Using a dictionary to know the real result of each column
MMSI_2016_summ["Estrato_SocioeconÃ³mico"]=MMSI_2016_summ["Estrato_SocioeconÃ³mico"].replace({1:"Bajo",
                                                                                           2:"Medio bajo",
                                                                                           3:"Medio alto",
                                                                                           4:"Alto"})
MMSI_2016_summ["Sexo"]=MMSI_2016_summ["Sexo"].replace({1:"Hombre",
                                                       2:"Mujer"})
MMSI_2016_summ["Lengua_IndÃ­gena"]=MMSI_2016_summ["Lengua_IndÃ­gena"].replace({1:"SÃ­",
                                                                             2:"No"})
MMSI_2016_summ["Origen_Racial"]=MMSI_2016_summ["Origen_Racial"].replace({1:"Negra o Mulata",
                                                                         2:"IndÃ­gena",
                                                                         3:"Mestiza",
                                                                        4:"Blanca",
                                                                        5:"Otra Raza",
                                                                        9:"No sabe"})
MMSI_2016_summ["Estado"]=MMSI_2016_summ["Estado"].replace({32:"Zac.",31:"Yuc.",30:"Ver.",29:"Tlax.", 28:"Tamps.",
                                                           27:"Tab.",26:"Son.",25:"Sin.", 24:"SLP",23:"Q. Roo",
                                                           22:"Qro.", 21:"Pue.",20:"Oax.",19:"NL",18:"Nay.", 17:"Mor.",
                                                           16:"Mich.", 15:"Mex.",14:"Jal.",13:"Hgo.",12:"Gro.",11:"Gto.",
                                                           10:"Dgo.",9:"CDMX",8:"Chih.",7:"Chis.",6:"Col.",5:"Coah.",
                                                           4:"Camp.",3:"BCS",2:"BC",1:"Ags."})
MMSI_2016_summ["Edo_14_aÃ±os"]=MMSI_2016_summ["Edo_14_aÃ±os"].replace({32:"Zac.",31:"Yuc.",30:"Ver.",29:"Tlax.", 28:"Tamps.",
                                                           27:"Tab.",26:"Son.",25:"Sin.", 24:"SLP",23:"Q. Roo",
                                                           22:"Qro.", 21:"Pue.",20:"Oax.",19:"NL",18:"Nay.", 17:"Mor.",
                                                           16:"Mich.", 15:"Mex.",14:"Jal.",13:"Hgo.",12:"Gro.",11:"Gto.",
                                                           10:"Dgo.",9:"CDMX",8:"Chih.",7:"Chis.",6:"Col.",5:"Coah.",
                                                           4:"Camp.",3:"BCS",2:"BC",1:"Ags."})

In [7]:
## Showing the first 5 rows of the dataset
MMSI_2016_summ.head()

,Estado,Estrato_SocioeconÃ³mico,Sexo,Edad,Edo_14_aÃ±os,Lengua_IndÃ­gena,Color_Piel,Origen_Racial,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Perspectiva_SE_14_aÃ±os,Factor_ExpansiÃ³n
0,Ags.,Medio alto,Hombre,58,Ags.,No,8,Mestiza,6,4,1718
1,Ags.,Medio alto,Hombre,49,Chis.,No,8,Blanca,5,5,859
2,Ags.,Medio alto,Hombre,31,Ags.,No,8,Blanca,7,7,429
3,Ags.,Medio alto,Hombre,56,Ags.,No,8,Mestiza,5,3,859
4,Ags.,Medio alto,Mujer,52,Ags.,No,7,Mestiza,5,4,329

In [8]:
## Making a "group by" by state 
MMSI_2016_nacional_prom=MMSI_2016_summ.groupby(["Estado"], as_index=False).mean()
MMSI_2016_nacional_sum=MMSI_2016_summ.groupby(["Estado"],as_index=False).sum()
MMSI_2016_nacional=MMSI_2016_nacional_prom.loc[:,["Estado","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Perspectiva_SE_14_aÃ±os"]]
MMSI_2016_nacional_sum=MMSI_2016_nacional_sum.loc[:,["Estado","Factor_ExpansiÃ³n"]]

In [9]:
## Meging the results in a single dataset
MMSI_2016_nacional=MMSI_2016_nacional.merge(MMSI_2016_nacional_sum, on="Estado")
MMSI_2016_nacional["Cambio_Perspectiva"]=MMSI_2016_nacional["OpiniÃ³n_SituaciÃ³n_EconÃ³mica"] - MMSI_2016_nacional["Perspectiva_SE_14_aÃ±os"]
MMSI_2016_nacional=MMSI_2016_nacional.sort_values(by=["Cambio_Perspectiva"])
MMSI_2016_nacional.head()

,Estado,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Perspectiva_SE_14_aÃ±os,Factor_ExpansiÃ³n,Cambio_Perspectiva
25,Son.,5.257362,4.891165,1554799,0.366197
3,CDMX,5.356322,4.959132,5097738,0.397190
1,BC,5.752355,5.340511,1874447,0.411844
18,Nay.,4.377070,3.963057,617941,0.414013
9,Dgo.,4.930468,4.505689,839716,0.424779

In [10]:
## Creating a dataset only with the variable "gender"
MMSI_2016_sex=MMSI_2016_summ.groupby(["Sexo","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_sex=MMSI_2016_sex.loc[:,["Sexo","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_sex["DemogrÃ¡fico"]="Sexo"
MMSI_2016_sex=MMSI_2016_sex.rename(columns={"Sexo":"Varible"})
MMSI_2016_sex.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,Hombre,1,1,1289967,Sexo
1,Hombre,1,2,943751,Sexo
2,Hombre,1,3,1027508,Sexo
3,Hombre,1,4,549509,Sexo
4,Hombre,1,5,712872,Sexo

In [11]:
## Creating a dataset only with the variable "Racial Origin"
MMSI_2016_OriRacial=MMSI_2016_summ.groupby(["Origen_Racial","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_OriRacial=MMSI_2016_OriRacial.loc[:,["Origen_Racial","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_OriRacial["DemogrÃ¡fico"]="Origen_Racial"
MMSI_2016_OriRacial=MMSI_2016_OriRacial.rename(columns={"Origen_Racial":"Varible"})
MMSI_2016_OriRacial.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,Blanca,1,1,281329,Origen_Racial
1,Blanca,1,2,164285,Origen_Racial
2,Blanca,1,3,181500,Origen_Racial
3,Blanca,1,4,128492,Origen_Racial
4,Blanca,1,5,141153,Origen_Racial

In [12]:
## Creating a dataset only with the variable "Skin Color"
MMSI_2016_Color=MMSI_2016_summ.groupby(["Color_Piel","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_Color=MMSI_2016_Color.loc[:,["Color_Piel","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_Color["DemogrÃ¡fico"]="Color Piel"
MMSI_2016_Color=MMSI_2016_Color.rename(columns={"Color_Piel":"Varible"})
MMSI_2016_Color.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,1,1,1,25440,Color Piel
1,1,1,2,10147,Color Piel
2,1,1,3,4735,Color Piel
3,1,1,4,4819,Color Piel
4,1,1,5,2459,Color Piel

In [13]:
## Creating a dataset only with the variable "Indigenous languages"
MMSI_2016_LengInd=MMSI_2016_summ.groupby(["Lengua_IndÃ­gena","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_LengInd=MMSI_2016_LengInd.loc[:,["Lengua_IndÃ­gena","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_LengInd["DemogrÃ¡fico"]="Lengua_IndÃ­gena"
MMSI_2016_LengInd=MMSI_2016_LengInd.rename(columns={"Lengua_IndÃ­gena":"Varible"})
MMSI_2016_LengInd.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,No,1,1,2156075,Lengua_IndÃ­gena
1,No,1,2,1492771,Lengua_IndÃ­gena
2,No,1,3,1968335,Lengua_IndÃ­gena
3,No,1,4,1134988,Lengua_IndÃ­gena
4,No,1,5,1579922,Lengua_IndÃ­gena

In [14]:
## Creating a dataset only with the variable "Socio-economic background"
MMSI_2016_Estrato=MMSI_2016_summ.groupby(["Estrato_SocioeconÃ³mico","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_Estrato=MMSI_2016_Estrato.loc[:,["Estrato_SocioeconÃ³mico","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_Estrato["DemogrÃ¡fico"]="Estrato_SocioeconÃ³mico"
MMSI_2016_Estrato=MMSI_2016_Estrato.rename(columns={"Estrato_SocioeconÃ³mico":"Varible"})
MMSI_2016_Estrato.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,Alto,1,1,29329,Estrato_SocioeconÃ³mico
1,Alto,1,2,43558,Estrato_SocioeconÃ³mico
2,Alto,1,3,91262,Estrato_SocioeconÃ³mico
3,Alto,1,4,37250,Estrato_SocioeconÃ³mico
4,Alto,1,5,52831,Estrato_SocioeconÃ³mico

In [15]:
## Creating a dataset only with the variable "Generations"
GeneraciÃ³n=["Millenials","X","Baby Boomers"]
Edades=[23,35,47,67]
MMSI_2016_Edad=MMSI_2016_summ.groupby(["Edad","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_Edad=MMSI_2016_Edad.loc[:,["Edad","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_Edad["GeneraciÃ³n"]=pd.cut(MMSI_2016_Edad["Edad"],Edades)
MMSI_2016_Rango=MMSI_2016_Edad.groupby(["GeneraciÃ³n","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica"],as_index=False).sum()
MMSI_2016_Rango=MMSI_2016_Rango.loc[:,["GeneraciÃ³n","Perspectiva_SE_14_aÃ±os","OpiniÃ³n_SituaciÃ³n_EconÃ³mica","Factor_ExpansiÃ³n"]]
MMSI_2016_Gen=MMSI_2016_Rango
MMSI_2016_Gen["GeneraciÃ³n"]=MMSI_2016_Gen["GeneraciÃ³n"].astype(str)
MMSI_2016_Gen["GeneraciÃ³n"]=MMSI_2016_Gen["GeneraciÃ³n"].replace({"(23, 35]":"Millenials","(35, 47]":"X","(47, 67]":"Baby Boomers"})
MMSI_2016_Gen["DemogrÃ¡fico"]="GeneraciÃ³n"
MMSI_2016_Gen=MMSI_2016_Gen.rename(columns={"GeneraciÃ³n":"Varible"})
MMSI_2016_Gen.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico
0,Millenials,1,1,665142.0,GeneraciÃ³n
1,Millenials,1,2,372210.0,GeneraciÃ³n
2,Millenials,1,3,543262.0,GeneraciÃ³n
3,Millenials,1,4,252100.0,GeneraciÃ³n
4,Millenials,1,5,256865.0,GeneraciÃ³n

In [16]:
## Concating all the variable datasets in a signle dataset
MMSI_2016_DemogrÃ¡ficos=pd.concat([MMSI_2016_sex,MMSI_2016_LengInd,MMSI_2016_OriRacial,MMSI_2016_Gen,MMSI_2016_Estrato,MMSI_2016_Color])
MMSI_2016_DemogrÃ¡ficos["ID"]=np.arange(len(MMSI_2016_DemogrÃ¡ficos))
MMSI_2016_DemogrÃ¡ficos.head()

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico,ID
0,Hombre,1,1,1289967.0,Sexo,0
1,Hombre,1,2,943751.0,Sexo,1
2,Hombre,1,3,1027508.0,Sexo,2
3,Hombre,1,4,549509.0,Sexo,3
4,Hombre,1,5,712872.0,Sexo,4

In [17]:
## Showing all the variables
DemogrÃ¡ficos=MMSI_2016_DemogrÃ¡ficos["DemogrÃ¡fico"].unique()
DemogrÃ¡ficos

array(['Sexo', 'Lengua_IndÃ­gena', 'Origen_Racial', 'GeneraciÃ³n',
       'Estrato_SocioeconÃ³mico', 'Color Piel'], dtype=object)

In [18]:
## Exporting all the dataset to a csv file
MMSI_2016_sex.to_csv("data/csv/MMSI Sexo.csv")
MMSI_2016_LengInd.to_csv("data/csv/MMSI Lengua IndÃ­gena.csv")
MMSI_2016_OriRacial.to_csv("data/csv/MMSI Origen Racial.csv")
MMSI_2016_Rango.to_csv("data/csv/MMSI Rango de Edad.csv")
MMSI_2016_Estrato.to_csv("data/csv/MMSI Estrato SocioeconÃ³mico.csv")
MMSI_2016_Color.to_csv("data/csv/MMSI Color.csv")
MMSI_2016_DemogrÃ¡ficos.to_csv("data/csv/MMSI DemogrÃ¡ficos.csv")

In [19]:
## Creating a connection to sqlite
conn = sqlite3.connect('MMSI_2016.sqlite')

c = conn.cursor()

## Loading the dataset to a table in sqlite
MMSI_2016_DemogrÃ¡ficos.to_sql('MMSI_2016_DemogrÃ¡ficos', conn, if_exists='replace',index=False)
pd.read_sql('select * from MMSI_2016_DemogrÃ¡ficos', conn)

,Varible,Perspectiva_SE_14_aÃ±os,OpiniÃ³n_SituaciÃ³n_EconÃ³mica,Factor_ExpansiÃ³n,DemogrÃ¡fico,ID
0,Hombre,1,1,1289967.0,Sexo,0
1,Hombre,1,2,943751.0,Sexo,1
2,Hombre,1,3,1027508.0,Sexo,2
3,Hombre,1,4,549509.0,Sexo,3
4,Hombre,1,5,712872.0,Sexo,4
5,Hombre,1,6,196358.0,Sexo,5
6,Hombre,1,7,65738.0,Sexo,6
7,Hombre,1,8,27007.0,Sexo,7
8,Hombre,1,9,8212.0,Sexo,8
9,Hombre,1,10,39238.0,Sexo,9
10,Hombre,2,1,165810.0,Sexo,10
11,Hombre,2,2,453121.0,Sexo,11
12,Hombre,2,3,595753.0,Sexo,12
13,Hombre,2,4,1023444.0,Sexo,13
14,Hombre,2,5,1053864.0,Sexo,14
15,Hombre,2,6,357767.0,Sexo,15
16,Hombre,2,7,156463.0,Sexo,16
17,Hombre,2,8,39603.0,Sexo,17
18,Hombre,2,9,1001.0,Sexo,18
19,Hombre,2,10,3011.0,Sexo,19
20,Hombre,3,1,117708.0,Sexo,20
21,Hombre,3,2,172333.0,Sexo,21
22,Hombre,3,3,456360.0,Sexo,22
23,Hombre,3,4,660652.0,Sexo,23
24,Hombre,3,5,1634301.0,Sexo,24
25,Hombre,3,6,572286.0,Sexo,25
26,Hombre,3,7,316204.0,Sexo,26
27,Hombre,3,8,95704.0,Sexo,27
28,Hombre,3,9,14254.0,Sexo,28
29,Hombre,3,10,5685.0,Sexo,29
...,...,...,...,...,...,...
2446,11,7,4,4021.0,Color Piel,2446
2447,11,7,5,19937.0,Color Piel,2447
2448,11,7,6,25273.0,Color Piel,2448
2449,11,7,7,55068.0,Color Piel,2449
2450,11,7,8,27835.0,Color Piel,2450
2451,11,8,1,7566.0,Color Piel,2451
2452,11,8,3,5845.0,Color Piel,2452
2453,11,8,4,10299.0,Color Piel,2453
2454,11,8,5,19852.0,Color Piel,2454
2455,11,8,6,29536.0,Color Piel,2455
2456,11,8,7,13544.0,Color Piel,2456
2457,11,8,8,40957.0,Color Piel,2457
2458,11,8,9,2066.0,Color Piel,2458
2459,11,8,10,10282.0,Color Piel,2459
2460,11,9,1,773.0,Color Piel,2460
2461,11,9,3,4926.0,Color Piel,2461
2462,11,9,4,5291.0,Color Piel,2462
2463,11,9,5,3739.0,Color Piel,2463
2464,11,9,6,5411.0,Color Piel,2464
2465,11,9,7,5849.0,Color Piel,2465
2466,11,9,8,13531.0,Color Piel,2466
2467,11,9,9,3490.0,Color Piel,2467
2468,11,10,1,4038.0,Color Piel,2468
2469,11,10,2,3383.0,Color Piel,2469
2470,11,10,4,7059.0,Color Piel,2470
2471,11,10,5,9715.0,Color Piel,2471
2472,11,10,6,4682.0,Color Piel,2472
2473,11,10,7,2609.0,Color Piel,2473
2474,11,10,8,5382.0,Color Piel,2474
2475,11,10,10,8562.0,Color Piel,2475